{% extends 'main.html' %}
{% block task_lists %}
    <div>
        <section class="top-bar-left">
            <h3><a href="/user/">User profile</a></h3>
        </section>
    </div>
    <div class="content">


        <h2>Task lists</h2>
        {% for tasklist in task_lists %}
            <form method="post">
            {% csrf_token %}
            <h2><input formaction="/edittasklist/" class="button" type="submit" value="Edit">
            <a href="/tasks/{{ tasklist.id }}">{{ tasklist.name}}</a>
                <input formaction="/addtask/{{ tasklist.id }}/" class="button" type="submit" value="Add task"></h2>
            <hr>
        </form>
        {% endfor %}
        <form action="/addtasklist/" method="post">
            {% csrf_token %}
            <input class="button round" type="submit" value="Add new list">
        </form>
    </div>
{% endblock %}