{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <div class="page-header">
        <h1><a href="/home">Task Tracker</a></h1>
    </div>
    <link rel="stylesheet" href="{%static "../static/css/foundation.css" %}"/>

</head>
<body>
<div class="top-bar-right">
    <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href="/logout/">Log out ({{ username }})</a> </li>
            {% else %}
                <li><a href="/login/">Log in</a> </li>
            {% endif %}
        </ul>
    </section>

</div>

    <div class="row columns">
        {% block login %}
        {% endblock %}

        {% block info %}
        {% endblock %}
    </div>
    <div>
        {% block task_lists %}
        {% endblock %}
    </div>
</body>
</html>