{% extends 'main.html' %}
{% block info %}
    <h2>User</h2>
    <h3>Login: {{ user.username }}</h3>
    <h3>e-mail: {{ user.email }}</h3>
    <h3>Name: {{ user.first_name }} {{ user.last_name }}</h3>

    <div class="button round">
        <form method="post">
            {% csrf_token %}
            <input formaction="/tasklists/edittasklistpage/{{ tasklist.id}}/" type="submit" class="button" value="Edit">
            <input formaction="/tasklists/deletetasklist/{{ tasklist.id }}/" type="submit" class="button" value="Delete">

        </form>
    </div>
{% endblock %}