{% extends 'main.html' %}

{% block login %}
    <div class="large-offset-3 large-6 column">
        <form action="login/" method="post">
            {% csrf_token %}
            <label for="username">User login</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="button round" type="submit" value="Log in">
            <div class="label round secondary"><a href="/register">Sign up</a> </div>
        </form>
    </div>
{% endblock %}