{% extends 'main.html' %}
{% block login %}
    <div class="large-offset-3 large-6 columns">
        <form action="/register/" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button round" type="submit" value="Sign up">
        </form>
    </div>
{% endblock %}